/CatMouse_Prototype 4.3/Content/Textures/
/CatMouse_Prototype 4.3/Content/Animations/
/CatMouse_Prototype 4.3/Content/Architecture/
/CatMouse_Prototype 4.3/Content/Audio/
/CatMouse_Prototype 4.3/Content/Materials/
/CatMouse_Prototype 4.3/Content/Particles/
/CatMouse_Prototype 4.3/Content/Shapes/
/CatMouse_Prototype 4.3/Saved/Backup/
/CatMouse_Prototype 4.3/DerivedDataCache/
/Binaries/*/*.pdb
/Binaries/*/*Debug*
/Intermediate